<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Behaviour Executer</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <style>
    .modal-header {
         min-height: 16.42857143px;
         padding: 15px;
         border-bottom: 0px solid #e5e5e5;
      }

      .modal-footer {
         padding: 15px;
         text-align: right;
         border-top: 0px solid #e5e5e5;
      }

      body, html {
        background-color: rgba(98, 189, 201, 0.801);
        font-family: 'Nunito', sans-serif;
      }
    </style>
</head>

<body>

  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand text-black">
          <a id="connectBtn" href="#" data-toggle="modal" data-target="#connectModal">
            Connect
          </a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#createModal" id="createPlaylistBtn">Create Playlist</a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#editModal" id="editPlaylistsBtn">Edit Playlists</a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#assignModal" id="assignPlaylistsBtn">Assign Playlist</a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#langModal" id="changeLangBtn">Language</a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#viewModal" id="viewVideosBtn">View Videos</a>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div style="height: 100%" id="page-content-wrapper">

      <div class="container-fluid">
        <a href="#menu-toggle" class="btn-lg btn-secondary font-weight-bold" id="menu-toggle">&#8801;</a>
        <span id="message-holder"></span>
      </div>

      <form class="offset-3.5 col-lg-4 col-4 col-md-6 col-xs-12 h-50" style="display: none;" id="executionForm" method="post" onsubmit="return false;" autocomplete="on">
        <div class="m-2">
          <div class="container-fluid text-center">
            <h4 class="m-2" id="executionFormTitle">Behaviour Execution</h4>
          </div>
          <div class="row h-40">
            <button class="col container-fluid m-2" id="replayB" style="height: 66px;" onclick="playCurrent(&quot;main&quot;, this)">Repeat </button>
            <button class="col container-fluid m-2" id="nextB" onclick="playNext(&quot;main&quot;, this)">Next</button>
          </div>
          <div class="row">
            <input class="col soft-input m-2" id="sayText" type="text" placeholder="Enter text to say" tabindex="3" autofocus="">
            <button class="col container-fluid m-2" id="sayBtn" type="submit" tabindex="1" onclick="say()">Submit</button>
          </div>
          <div class="row">
            <button class="col container-fluid m-2" id="posB" onclick="playNext(&quot;pos&quot;, this)">Positive</button>
            <button class="col container-fluid m-2" id="negB" onclick="playNext(&quot;neg&quot;, this)">Negative</button>
          </div>
          <div class="row">
            <button class="col container-fluid m-2 red" id="stopB" onclick="stopBehaviour()">STOP</button>
          </div>
        </div>
      </form>
    </div>

    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <template id="modal-template">

    <div class="modal" id="myModal">
      <div class="modal-content"><span class="close" data-dismiss="modal">x</span>
        <h4 class="modal-title m-2">Modal title</h4>

        <div class="modal-body">
        </div>

        <div class="foot container">
          <button type="button" class="offset-4 col-4 btn btn-success" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </template>

  <template id="error-template">
    <span id="message-value-error" class="error-msg">
      <i class="fa fa-times-circle"></i>
    </span>
  </template>

  <template id="info-template">
    <span id="message-value-info" class="info-msg">
      <i class="fa fa-info-circle"></i>
    </span>
  </template>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="main.js" type="text/javascript"></script>
  <script src="js/createModals.js" type="text/javascript"></script>
  <script src="js/ajax_requests.js" type="text/javascript"></script>
  <script src="js/assign_modal.js" type="text/javascript"></script>
  <script src="js/create_modal.js" type="text/javascript"></script>
  <script src="js/edit_modal.js" type="text/javascript"></script>
  <script src="js/lang_modal.js" type="text/javascript"></script>
  <script src="js/video_modal.js" type="text/javascript"></script>
  <script src="js/view_modal.js" type="text/javascript"></script>
  <script src="scripts/Assigned.js" type="text/javascript"></script>
  <script src="scripts/Playlist.js" type="text/javascript"></script>
  <script src="scripts/Robot.js" type="text/javascript"></script>
  <script src="scripts/Session.js" type="text/javascript"></script>
  <script src="/libs/qimessaging/1.0/qimessaging.js"></script>
  <script src="/libs/qimessaging/1.0/socket.io.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $(document).ready(function() {
      modalEvents();
      createDisplayModals();

      $(function() {
        $(".sortable").sortable({
          connectWith: ".connectedSortable"
        }).disableSelection();
      });

      $.when(loadLanguage(), loadPlaylists()).then(function() {
        attemptAutoConnect();
      });
    });
  </script>

</body>

</html>