<!DOCTYPE html>
<html>

<head>
  <!-- application css-->
  <link rel="stylesheet" href="/stylesheets/test.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, height=device-height">
  <meta charset="utf-8">
</head>

<body id="m" class="unselectable wrapper">

</body>

<script>
  sessionP.service("ALMemory").then(function(ALMemory) {
    ALMemory.subscriber("ALTextToSpeech/TextDone").then(function(sub) {
      sub.signal.connect(function(value) {
        console.log(value)
        if (value === 1) {
          setTimeout(() => {
            var myNode = document.getElementById("content");
            while (myNode.firstChild) {
                myNode.removeChild(myNode.firstChild);
            }
          }, 5000)
        }
      });
    });

    ALMemory.subscriber("ALTextToSpeech/CurrentWord").then(function(sub) {
      sub.signal.connect(function(value) {
        value = value.replace(/\\pau=[0-9]*\\/g,"")
        let base = document.createElement('p')
        base.textContent = value
        base.classList.add("first-text")
        document.body.appendChild(base);
      });
    });
  });
</script>

</html>
